.summary,
.issuesOverview,
.issues,
.benefitsOverview,
.benefit,
.scope,
.catalogItem,
.linkCopy {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #fff;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  margin: 16px;
  &__photoDisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    text-align: left; /* Align text to the left */
    margin: 16px;
  }
  &__photoHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin: 16px;
    text-align: left; /* Align text to the left */
    p {
      align-items: left;
      justify-content: left;
    }
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    p {
      font-size: 20px;
      font-weight: 500;
    }
  }
  &__headerLeft {
    display: flex;
    align-items: left;
    justify-content: left;
    gap: 8px;
    p {
      font-size: 20px;
      font-weight: 500;
    }
  }
  &__text {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
    font-size: 16px;
    font-weight: 400;
  }
}

.planSelection {
  $self: &;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 16px;
  margin-bottom: 16px;
  &__buttons {
    background-color: #fff;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
  }
}

.photoDisplay {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #fff;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  margin: 16px;
  &__photoDisplay {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 500px;
  }
}

.financing {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #fff;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  justify-content: 'center';
  margin: 16px;
  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    p {
      font-size: 20px;
      font-weight: 500;
    }
  }
  &__content {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
  }
  &__card {
    display: flex;
    flex-direction: column;
    border: 1px solid #eeeeee;
    border-radius: 4px;
    padding: 16px;
    gap: 16px;
  }
  &__sectionItem {
    display: flex;
    flex-direction: column;
    gap: 12px;
    .title {
      color: rgba(0, 0, 0, 0.87);
      font-size: 14px;
      font-weight: 700;
      display: flex;
      justify-content: space-between;
      align-items: center;
      span {
        font-size: 20px;
        font-weight: 500;
        color: #388e3c;
      }
    }
    .incentiveList {
      display: flex;
      flex-direction: column;
      font-size: 12px;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.87);
      gap: 12px;
      .incentive {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        .name {
          max-width: 70%;
          line-height: 166%;
        }
        .price {
          font-size: 16px;
          color: #388e3c;
        }
      }
    }
  }
}

.aboutUs {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #fff;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  margin: 16px;
  &__header {
    display: flex;
    align-items: left;
    justify-content: left;
    gap: 8px;
    p {
      font-size: 20px;
      font-weight: 500;
    }
  }
  &__text {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
    font-size: 16px;
    font-weight: 400;
    flex-direction: column;
  }
}
