.deleteModal {
  display: flex;
  align-items: center;
  justify-content: space-around;

  &__content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: #fff;

    p {
      padding: 16px 24px;
    }

    div {
      display: flex;
      justify-content: end;
      padding: 8px;
    }
  }
}
