.termCard {
  background-color: #ffffff;
  font-size: 12px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 36px 12px;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  transition: all ease-in-out 0.2s;
  &.selected {
    background-color: #c5cae9;
    transition: all ease-in-out 0.2s;
  }
}
