.planCreation {
  $self: &;
  display: flex;
  justify-content: center;
  flex-direction: column;

  &__buttons {
    background-color: #FFF;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
  }

  &__wrapper {
    padding: 16px;
    display: flex;
    gap: 16px;
  }

  #{$self}__leftContainer{
    display: flex;
    flex-direction: column;
    flex: 2;
    gap: 16px;
    max-width: 69%;
    transition: ease-in-out 0.5s;

    #{$self}__leftHeader {
      display: flex;
      align-items: center;
      gap: 16px;

      #{$self}__title {
        font-size: 20px;
        font-weight: 500;
      }
    }
    &.hidden {
      max-width: 95%;
    }
  }

  #{$self}__rightContainer {
    display: flex;
    flex-basis: 29%;
    flex-direction: column;
    gap: 16px;
    transition: flex-basis 0.5s ease-in-out;
    overflow: hidden;

    #{$self}__rightHeader {
      display: flex;
      align-items: center;
      gap: 16px;
      span {
        transition: opacity 0.3s ease-in-out;
      }
    }

    #{$self}__cost, #{$self}__upgradeImpact {
      background-color: #FFF;
      padding: 16px;
      display: flex;
      flex-direction: column;
      gap: 16px;
      border-radius: 8px;
      transition: opacity 0.3s ease-in-out;
      #{$self}__sectionHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
        div {
          display: flex;
          align-items: center;
          font-size: 14px;
          font-weight: 500;
          gap: 8px;
        }
      }
      #{$self}__sectionItem {
        display: flex;
        flex-direction: column;
        gap: 12px;
        .title {
          color: rgba(0, 0, 0, 0.87);
          font-size: 14px;
          font-weight: 400;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        .incentiveList {
          display: flex;
          flex-direction: column;
          font-size: 12px;
          font-weight: 400;
          color: rgba(0, 0, 0, 0.6);
          gap: 12px;
          .incentive {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            .textWrapper {
              display: flex;
              flex-direction: column;
              gap: 4px;
              small {
                color: #ED6C02;
                font-weight: 500;
                font-size: 10px;
              }
            }
            .name {
              max-width: 70%;
            }
          }
        }
        #{$self}__sectionStars {
          svg {
            color: #FFB300;
          }
        }
      }
      #{$self}__financing {
        display: flex;
        flex-direction: column;
        font-size: 14px;
        font-weight: 400;
        gap: 8px;
        #{$self}__financingItem {
          display: flex;
          flex-direction: column;
          font-size: 12px;
          gap: 8px;
        }
      }
    }

    &.hidden {
      flex-basis: 50px;
      #{$self}__rightHeader {
        span {
          opacity: 0;
        }
        svg {
          transform: rotate(180deg);
        }
      }
      #{$self}__cost, #{$self}__upgradeImpact {
        opacity: 0;
      }
    }
  }


}


@media screen and (max-width: 769px ) {
  .planCreation {
    $self: &;
    #{$self}__leftContainer {
      max-width: 63%;
    }
    #{$self}__rightContainer {
      flex-basis: 35%;
    }
  }
}